body {
  margin: 10px; 
  padding: 0;
  max-width: 1024px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

.conteiner {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  
}

.header,
.footer{
  width: 100%;
  border: 3px solid rgb(20, 8, 8);
  text-align: center;
  border-radius: 10px;
}

.name{
  text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
}


.main {
  width: 65%;
}

.about {
  margin: 30px;
}

.about-titel {
justify-content: center;

}

.about-description {
  text-align: justify;
}

.education {}

.education-title {}

.education-list {}

.education-item {}

.certificateEN {}

.certificateHTML {}

.exampel-code {}

.skills {}

.skills_titel {}

.skills-list {}

.skills-item {}

.sidebar {
  width: 35%;
  background-color: darkgrey;
}

.photo {}

.sidebar-titel {}

.navigation {}

.nav-list {}

.nav-item {}

.contact_link {}

.sidebar-list {}

.sidebar-item {}

.footer {
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
}

.logo-rsschool {}

.link-rrschool {}